In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data1 = pd.read_csv('thyroid0387.data')

In [3]:
data1

,29,F,f,f.1,f.2,f.3,f.4,f.5,f.6,t,...,f.14,?.1,f.15,?.2,f.16,?.3,f.17,?.4,other,-[840801013]
0,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,-[840801014]
1,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,-[840801042]
2,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-[840803046]
3,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S[840803047]
4,60,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-[840803048]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9166,56,M,f,f,f,f,f,f,f,f,...,t,64,t,0.83,t,77,f,?,SVI,-[870119022]
9167,22,M,f,f,f,f,f,f,f,f,...,t,91,t,0.92,t,99,f,?,SVI,-[870119023]
9168,69,M,f,f,f,f,f,f,f,f,...,t,113,t,1.27,t,89,f,?,SVI,I[870119025]
9169,47,F,f,f,f,f,f,f,f,f,...,t,75,t,0.85,t,88,f,?,other,-[870119027]
9170,31,M,f,f,f,f,f,f,f,t,...,t,66,t,1.02,t,65,f,?,other,-[870119035]

In [4]:
features = ['age', 'sex', 'on thyroxine','query on thyroxine', 'on antithyroid medication',
'sick','pregnant','thyroid surgery','I131 treatment','query hypothyroid',
'query hyperthyroid','lithium',
'goitre','tumor','hypopituitary', 'psych', 'TSH measured', 'TSH','T3 measured','T3','TT4 measured','TT4',
'T4U measured','T4U','FTI measured','FTI','TBG measured','TBG','referral source', 'letter diagnosis']

In [5]:
len(features)

30

In [6]:
data1.columns = features

In [7]:
y = data1.iloc[:,-1]

In [8]:
X = data1.iloc[:,:-2]

In [9]:
y.head()

0    -[840801014]
1    -[840801042]
2    -[840803046]
3    S[840803047]
4    -[840803048]
Name: letter diagnosis, dtype: object

In [10]:
y_split= y.str.split('[')
y_split.head()

0    [-, 840801014]]
1    [-, 840801042]]
2    [-, 840803046]]
3    [S, 840803047]]
4    [-, 840803048]]
Name: letter diagnosis, dtype: object

In [11]:
y_split= y_split.apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
y_split

0       -
1       -
2       -
3       S
4       -
       ..
9166    -
9167    -
9168    I
9169    -
9170    -
Name: letter diagnosis, Length: 9171, dtype: object

In [12]:
Y = y_split

In [13]:
Y.describe()

count     9171
unique      32
top          -
freq      6770
Name: letter diagnosis, dtype: object

In [14]:
Y.unique()

array(['-', 'S', 'F', 'AK', 'R', 'I', 'M', 'N', 'G', 'K', 'A', 'KJ', 'L',
       'MK', 'Q', 'J', 'C|I', 'O', 'LJ', 'H|K', 'D', 'GK', 'MI', 'P',
       'FK', 'B', 'GI', 'C', 'GKJ', 'OI', 'D|R', 'E'], dtype=object)

In [15]:
mapping_dict = {'f':0,'t':1,'F':0,'M':1,'?':None}
cat_data = []
num_data = ['age','TSH','T3','TT4','T4U','FTI','TBG']
for feature in X.columns:
    if feature not in num_data:
        cat_data.append(feature)

In [16]:
cat_data

['sex',
 'on thyroxine',
 'query on thyroxine',
 'on antithyroid medication',
 'sick',
 'pregnant',
 'thyroid surgery',
 'I131 treatment',
 'query hypothyroid',
 'query hyperthyroid',
 'lithium',
 'goitre',
 'tumor',
 'hypopituitary',
 'psych',
 'TSH measured',
 'T3 measured',
 'TT4 measured',
 'T4U measured',
 'FTI measured',
 'TBG measured']

In [17]:
for x in X[cat_data]:
    X[x] = X[x].map(mapping_dict)
X

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG
0,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.9,1.0,128,0.0,?,0.0,?,0.0,?
1,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,0.0,?,0.0,?,0.0,?,1.0,11
2,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,0.0,?,0.0,?,0.0,?,1.0,26
3,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,0.0,?,0.0,?,0.0,?,1.0,36
4,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,0.0,?,0.0,?,0.0,?,1.0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9166,56,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,1.0,64,1.0,0.83,1.0,77,0.0,?
9167,22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,1.0,91,1.0,0.92,1.0,99,0.0,?
9168,69,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,1.0,113,1.0,1.27,1.0,89,0.0,?
9169,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,?,1.0,75,1.0,0.85,1.0,88,0.0,?
9170,31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,?,1.0,66,1.0,1.02,1.0,65,0.0,?

In [18]:
X.replace('?', None, inplace=True)

In [19]:
X

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG
0,29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.9,1.0,128,0.0,None,0.0,None,0.0,None
1,41,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,0.0,None,0.0,None,0.0,None,1.0,11
2,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,0.0,None,0.0,None,0.0,None,1.0,26
3,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,0.0,None,0.0,None,0.0,None,1.0,36
4,60,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,0.0,None,0.0,None,0.0,None,1.0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9166,56,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,1.0,64,1.0,0.83,1.0,77,0.0,None
9167,22,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,1.0,91,1.0,0.92,1.0,99,0.0,None
9168,69,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,1.0,113,1.0,1.27,1.0,89,0.0,None
9169,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,None,1.0,75,1.0,0.85,1.0,88,0.0,None
9170,31,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,None,1.0,66,1.0,1.02,1.0,65,0.0,None

In [20]:
X.isnull().sum()

age                             0
sex                           307
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           842
T3 measured                     0
T3                           2603
TT4 measured                    0
TT4                           441
T4U measured                    0
T4U                           808
FTI measured                    0
FTI                           801
TBG measured                    0
TBG                          8822
dtype: int64

In [21]:
X_good_features = X.drop(['TBG'],axis=1)

In [22]:
X_good_features = X_good_features.dropna(axis=0)
X_good_features.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured
18,36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.5,1.0,2.4,1.0,90,1.0,1.06,1.0,85,0.0
20,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.2,1.0,2.3,1.0,104,1.0,1.08,1.0,96,0.0
21,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.9,1.0,2.1,1.0,88,1.0,0.84,1.0,105,0.0
22,77,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,1.0,2.4,1.0,107,1.0,1.13,1.0,95,0.0
26,51,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05,1.0,2.1,1.0,93,1.0,0.87,1.0,106,0.0

In [23]:
X_good_features[['TSH','T3','TT4','T4U','FTI','age']]=X_good_features[['TSH','T3','TT4','T4U','FTI','age']].astype(float)

In [24]:
X_good_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5789 entries, 18 to 9140
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        5789 non-null   float64
 1   sex                        5789 non-null   float64
 2   on thyroxine               5789 non-null   float64
 3   query on thyroxine         5789 non-null   float64
 4   on antithyroid medication  5789 non-null   float64
 5   sick                       5789 non-null   float64
 6   pregnant                   5789 non-null   float64
 7   thyroid surgery            5789 non-null   float64
 8   I131 treatment             5789 non-null   float64
 9   query hypothyroid          5789 non-null   float64
 10  query hyperthyroid         5789 non-null   float64
 11  lithium                    5789 non-null   float64
 12  goitre                     5789 non-null   float64
 13  tumor                      5789 non-null   float64
 14  hypopituitary              5789 non-null   float64
 15  psych                      5789 non-null   float64
 16  TSH measured               5789 non-null   float64
 17  TSH                        5789 non-null   float64
 18  T3 measured                5789 non-null   float64
 19  T3                         5789 non-null   float64
 20  TT4 measured               5789 non-null   float64
 21  TT4                        5789 non-null   float64
 22  T4U measured               5789 non-null   float64
 23  T4U                        5789 non-null   float64
 24  FTI measured               5789 non-null   float64
 25  FTI                        5789 non-null   float64
 26  TBG measured               5789 non-null   float64
dtypes: float64(27)
memory usage: 1.2 MB

In [25]:
X_good_features.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured
count,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,5789.000000,...,5789.000000,5789.0,5789.000000,5789.0,5789.000000,5789.0,5789.000000,5789.0,5789.000000,5789.000000
mean,76.291242,0.333391,0.121264,0.010364,0.016238,0.040076,0.012610,0.014856,0.019520,0.064605,...,5.162651,1.0,1.948817,1.0,107.878089,1.0,0.976116,1.0,112.130669,0.003455
std,1216.726999,0.471466,0.326463,0.101286,0.126399,0.196154,0.111594,0.120986,0.138355,0.245849,...,24.530112,0.0,0.872959,0.0,37.439111,0.0,0.193934,0.0,37.456203,0.058681
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005000,1.0,0.050000,1.0,2.000000,1.0,0.170000,1.0,1.400000,0.000000
25%,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.400000,1.0,1.500000,1.0,87.000000,1.0,0.860000,1.0,93.000000,0.000000
50%,56.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.300000,1.0,1.900000,1.0,104.000000,1.0,0.960000,1.0,109.000000,0.000000
75%,69.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.600000,1.0,2.300000,1.0,125.000000,1.0,1.070000,1.0,127.000000,0.000000
max,65512.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,530.000000,1.0,18.000000,1.0,450.000000,1.0,2.330000,1.0,642.000000,1.000000

In [26]:
indices = X_good_features.index

In [27]:
y= Y[indices]

In [28]:
y.isnull().sum()

0

In [29]:
y.unique()

array(['-', 'AK', 'R', 'M', 'N', 'G', 'F', 'K', 'I', 'L', 'MK', 'A', 'Q',
       'J', 'C|I', 'O', 'H|K', 'GK', 'MI', 'KJ', 'P', 'FK', 'B', 'GI',
       'C', 'GKJ', 'OI', 'D'], dtype=object)

In [30]:
mapping_dict = {
    'A': 0, 'B': 0, 'C': 0, 'D': 0,  # hyperthyroid conditions
    'E': 1, 'F': 1, 'G': 1, 'H': 1,  # hypothyroid conditions
    'I': 2, 'J': 2,                   # binding protein
    'K': 3,                           # general health
    'L': 4, 'M': 4, 'N': 4,           # replacement therapy
    'R': 5,  'S':5,'T':5 ,                      # discordant results
    '-':6,                           #No condition requiring comments
    'AK':7,'C|I':7,'H|K':7,
    'FK':7, 'GI':7,'GKJ':7,'OI':7,
    'KJ':7,'MK':7, 'MI':7,
    'Q': 8,'O':8,'P':8,        #anti_thyroid threatments
}

In [31]:
y_mapped = y.map(mapping_dict)
y_mapped.info()

<class 'pandas.core.series.Series'>
Index: 5789 entries, 18 to 9140
Series name: letter diagnosis
Non-Null Count  Dtype
--------------  -----
5743 non-null   float64
dtypes: float64(1)
memory usage: 90.5 KB

In [32]:
y_mapped.isnull().sum()

46

In [33]:
y_mapped_no_na = y_mapped.dropna(axis = 0)

In [34]:
y_mapped_no_na.info()

<class 'pandas.core.series.Series'>
Index: 5743 entries, 18 to 9140
Series name: letter diagnosis
Non-Null Count  Dtype
--------------  -----
5743 non-null   float64
dtypes: float64(1)
memory usage: 89.7 KB

In [35]:
non_null_y_index = y_mapped_no_na.index
non_null_y_index

Index([  18,   20,   21,   22,   26,   27,   28,   29,   30,   31,
       ...
       9109, 9117, 9119, 9122, 9127, 9128, 9129, 9133, 9136, 9140],
      dtype='int64', length=5743)

In [36]:
X_corr_index = X_good_features.loc[non_null_y_index,:]

In [37]:
X_corr_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5743 entries, 18 to 9140
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        5743 non-null   float64
 1   sex                        5743 non-null   float64
 2   on thyroxine               5743 non-null   float64
 3   query on thyroxine         5743 non-null   float64
 4   on antithyroid medication  5743 non-null   float64
 5   sick                       5743 non-null   float64
 6   pregnant                   5743 non-null   float64
 7   thyroid surgery            5743 non-null   float64
 8   I131 treatment             5743 non-null   float64
 9   query hypothyroid          5743 non-null   float64
 10  query hyperthyroid         5743 non-null   float64
 11  lithium                    5743 non-null   float64
 12  goitre                     5743 non-null   float64
 13  tumor                      5743 non-null   float64
 14  hypopituitary              5743 non-null   float64
 15  psych                      5743 non-null   float64
 16  TSH measured               5743 non-null   float64
 17  TSH                        5743 non-null   float64
 18  T3 measured                5743 non-null   float64
 19  T3                         5743 non-null   float64
 20  TT4 measured               5743 non-null   float64
 21  TT4                        5743 non-null   float64
 22  T4U measured               5743 non-null   float64
 23  T4U                        5743 non-null   float64
 24  FTI measured               5743 non-null   float64
 25  FTI                        5743 non-null   float64
 26  TBG measured               5743 non-null   float64
dtypes: float64(27)
memory usage: 1.2 MB

In [38]:
y_mapped.describe(include='all')

count    5743.000000
mean        5.134076
std         1.740014
min         0.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         8.000000
Name: letter diagnosis, dtype: float64

In [39]:
y_mapped_no_na.shape

(5743,)

Balancing the priors

In [40]:
from imblearn.under_sampling import RandomUnderSampler
under_sampler = RandomUnderSampler(sampling_strategy='majority', random_state=42)
X_resampled, y_resampled = under_sampler.fit_resample(X_corr_index, y_mapped_no_na)

In [41]:
X_resampled.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1607 entries, 198 to 8922
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        1607 non-null   float64
 1   sex                        1607 non-null   float64
 2   on thyroxine               1607 non-null   float64
 3   query on thyroxine         1607 non-null   float64
 4   on antithyroid medication  1607 non-null   float64
 5   sick                       1607 non-null   float64
 6   pregnant                   1607 non-null   float64
 7   thyroid surgery            1607 non-null   float64
 8   I131 treatment             1607 non-null   float64
 9   query hypothyroid          1607 non-null   float64
 10  query hyperthyroid         1607 non-null   float64
 11  lithium                    1607 non-null   float64
 12  goitre                     1607 non-null   float64
 13  tumor                      1607 non-null   float64
 14  hypopituitary              1607 non-null   float64
 15  psych                      1607 non-null   float64
 16  TSH measured               1607 non-null   float64
 17  TSH                        1607 non-null   float64
 18  T3 measured                1607 non-null   float64
 19  T3                         1607 non-null   float64
 20  TT4 measured               1607 non-null   float64
 21  TT4                        1607 non-null   float64
 22  T4U measured               1607 non-null   float64
 23  T4U                        1607 non-null   float64
 24  FTI measured               1607 non-null   float64
 25  FTI                        1607 non-null   float64
 26  TBG measured               1607 non-null   float64
dtypes: float64(27)
memory usage: 351.5 KB

Train, validation, test split

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
Xtrain_v,Xtest, ytrain_v,ytest = train_test_split(X_resampled,y_resampled, test_size=0.2, random_state=52)

In [44]:
X_train, X_val, y_train, y_val = train_test_split(Xtrain_v,ytrain_v, test_size=0.2,random_state=42)

Model

In [45]:
import tensorflow as tf
from tensorflow.keras import layers, models

In [46]:
input_size = 60
hidden_layer_size = 100
output_size=9

In [47]:
##One_hot_encoding_of_outputs

In [48]:
X_train.shape

(1028, 27)

In [49]:
y_train_encoded = tf.keras.utils.to_categorical(y_train,num_classes = output_size)
y_val_encoded = tf.keras.utils.to_categorical(y_val,num_classes = output_size)
y_test_encoded = tf.keras.utils.to_categorical(ytest, num_classes = output_size)

In [50]:
y_train_encoded.shape

(1028, 9)

In [53]:
model = tf.keras.Sequential([
    layers.Dense(input_size,input_shape=[X_train.shape[1]],activation='relu'),
    layers.Dense(hidden_layer_size, activation='relu'),
    layers.Dense(hidden_layer_size, activation='relu'),
    layers.Dense(hidden_layer_size, activation='relu'),
    layers.Dense(hidden_layer_size, activation='relu'),
    layers.Dense(output_size, activation='softmax')
])

Compiling the Model

In [54]:
model.compile(optimizer ='adam',loss = 'huber',metrics = 'accuracy')

Fitting the model

In [55]:
Batch_size = 30
no_epochs = 100

In [56]:
from tensorflow.keras.callbacks import EarlyStopping

In [57]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [58]:
model.fit(X_train,y_train_encoded, epochs = no_epochs, batch_size = Batch_size,
          validation_data = (X_val,y_val_encoded), verbose=2, callbacks = [early_stopping] )

Epoch 1/100
35/35 - 2s - loss: 0.0790 - accuracy: 0.0535 - val_loss: 0.0627 - val_accuracy: 0.1206 - 2s/epoch - 49ms/step
Epoch 2/100
35/35 - 0s - loss: 0.0436 - accuracy: 0.3852 - val_loss: 0.0374 - val_accuracy: 0.5019 - 213ms/epoch - 6ms/step
Epoch 3/100
35/35 - 0s - loss: 0.0339 - accuracy: 0.5516 - val_loss: 0.0357 - val_accuracy: 0.5214 - 202ms/epoch - 6ms/step
Epoch 4/100
35/35 - 0s - loss: 0.0317 - accuracy: 0.5856 - val_loss: 0.0312 - val_accuracy: 0.5759 - 208ms/epoch - 6ms/step
Epoch 5/100
35/35 - 0s - loss: 0.0298 - accuracy: 0.6128 - val_loss: 0.0297 - val_accuracy: 0.5875 - 207ms/epoch - 6ms/step
Epoch 6/100
35/35 - 0s - loss: 0.0284 - accuracy: 0.6206 - val_loss: 0.0292 - val_accuracy: 0.6070 - 204ms/epoch - 6ms/step
Epoch 7/100
35/35 - 0s - loss: 0.0291 - accuracy: 0.6080 - val_loss: 0.0302 - val_accuracy: 0.5798 - 199ms/epoch - 6ms/step
Epoch 8/100
35/35 - 0s - loss: 0.0284 - accuracy: 0.6148 - val_loss: 0.0288 - val_accuracy: 0.6187 - 198ms/epoch - 6ms/step
Epoch 9/100
35/35 - 0s - loss: 0.0284 - accuracy: 0.6304 - val_loss: 0.0285 - val_accuracy: 0.6381 - 198ms/epoch - 6ms/step
Epoch 10/100
35/35 - 0s - loss: 0.0273 - accuracy: 0.6411 - val_loss: 0.0296 - val_accuracy: 0.6070 - 192ms/epoch - 5ms/step
Epoch 11/100
35/35 - 0s - loss: 0.0271 - accuracy: 0.6488 - val_loss: 0.0266 - val_accuracy: 0.6498 - 193ms/epoch - 6ms/step
Epoch 12/100
35/35 - 0s - loss: 0.0269 - accuracy: 0.6304 - val_loss: 0.0298 - val_accuracy: 0.6109 - 192ms/epoch - 5ms/step
Epoch 13/100
35/35 - 0s - loss: 0.0270 - accuracy: 0.6547 - val_loss: 0.0290 - val_accuracy: 0.6148 - 197ms/epoch - 6ms/step
Epoch 14/100
35/35 - 0s - loss: 0.0260 - accuracy: 0.6537 - val_loss: 0.0265 - val_accuracy: 0.6732 - 198ms/epoch - 6ms/step
Epoch 15/100
35/35 - 0s - loss: 0.0261 - accuracy: 0.6595 - val_loss: 0.0269 - val_accuracy: 0.6420 - 193ms/epoch - 6ms/step
Epoch 16/100
35/35 - 0s - loss: 0.0253 - accuracy: 0.6761 - val_loss: 0.0315 - val_accuracy: 0.6031 - 195ms/epoch - 6ms/step
Epoch 17/100
35/35 - 0s - loss: 0.0257 - accuracy: 0.6732 - val_loss: 0.0270 - val_accuracy: 0.6576 - 195ms/epoch - 6ms/step
Epoch 18/100
35/35 - 0s - loss: 0.0259 - accuracy: 0.6566 - val_loss: 0.0255 - val_accuracy: 0.6615 - 202ms/epoch - 6ms/step
Epoch 19/100
35/35 - 0s - loss: 0.0252 - accuracy: 0.6527 - val_loss: 0.0295 - val_accuracy: 0.5837 - 192ms/epoch - 5ms/step
Epoch 20/100
35/35 - 0s - loss: 0.0253 - accuracy: 0.6625 - val_loss: 0.0243 - val_accuracy: 0.6654 - 197ms/epoch - 6ms/step
Epoch 21/100
35/35 - 0s - loss: 0.0241 - accuracy: 0.6877 - val_loss: 0.0254 - val_accuracy: 0.6848 - 197ms/epoch - 6ms/step
Epoch 22/100
35/35 - 0s - loss: 0.0240 - accuracy: 0.6829 - val_loss: 0.0239 - val_accuracy: 0.7082 - 195ms/epoch - 6ms/step
Epoch 23/100
35/35 - 0s - loss: 0.0231 - accuracy: 0.6984 - val_loss: 0.0279 - val_accuracy: 0.6148 - 195ms/epoch - 6ms/step
Epoch 24/100
35/35 - 0s - loss: 0.0247 - accuracy: 0.6751 - val_loss: 0.0262 - val_accuracy: 0.6693 - 195ms/epoch - 6ms/step
Epoch 25/100
35/35 - 0s - loss: 0.0238 - accuracy: 0.6955 - val_loss: 0.0252 - val_accuracy: 0.6809 - 193ms/epoch - 6ms/step
Epoch 26/100
35/35 - 0s - loss: 0.0238 - accuracy: 0.6916 - val_loss: 0.0271 - val_accuracy: 0.6381 - 189ms/epoch - 5ms/step
Epoch 27/100
35/35 - 0s - loss: 0.0243 - accuracy: 0.6741 - val_loss: 0.0223 - val_accuracy: 0.7276 - 196ms/epoch - 6ms/step
Epoch 28/100
35/35 - 0s - loss: 0.0226 - accuracy: 0.7130 - val_loss: 0.0233 - val_accuracy: 0.7043 - 193ms/epoch - 6ms/step
Epoch 29/100
35/35 - 0s - loss: 0.0226 - accuracy: 0.7121 - val_loss: 0.0214 - val_accuracy: 0.7315 - 203ms/epoch - 6ms/step
Epoch 30/100
35/35 - 0s - loss: 0.0225 - accuracy: 0.7062 - val_loss: 0.0228 - val_accuracy: 0.6965 - 233ms/epoch - 7ms/step
Epoch 31/100
35/35 - 0s - loss: 0.0230 - accuracy: 0.6984 - val_loss: 0.0227 - val_accuracy: 0.7237 - 203ms/epoch - 6ms/step
Epoch 32/100
35/35 - 0s - loss: 0.0209 - accuracy: 0.7296 - val_loss: 0.0203 - val_accuracy: 0.7471 - 292ms/epoch - 8ms/step
Epoch 33/100
35/35 - 0s - loss: 0.0205 - accuracy: 0.7403 - val_loss: 0.0224 - val_accuracy: 0.7043 - 194ms/epoch - 6ms/step
Epoch 34/100
35/35 - 0s - loss: 0.0219 - accuracy: 0.7121 - val_loss: 0.0213 - val_accuracy: 0.7354 - 196ms/epoch - 6ms/step
Epoch 35/100
35/35 - 0s - loss: 0.0195 - accuracy: 0.7422 - val_loss: 0.0202 - val_accuracy: 0.7393 - 192ms/epoch - 5ms/step
Epoch 36/100
35/35 - 0s - loss: 0.0200 - accuracy: 0.7344 - val_loss: 0.0217 - val_accuracy: 0.7237 - 192ms/epoch - 5ms/step
Epoch 37/100
35/35 - 0s - loss: 0.0194 - accuracy: 0.7636 - val_loss: 0.0221 - val_accuracy: 0.7198 - 190ms/epoch - 5ms/step
Epoch 38/100
35/35 - 0s - loss: 0.0209 - accuracy: 0.7305 - val_loss: 0.0187 - val_accuracy: 0.7704 - 196ms/epoch - 6ms/step
Epoch 39/100
35/35 - 0s - loss: 0.0202 - accuracy: 0.7481 - val_loss: 0.0213 - val_accuracy: 0.7471 - 193ms/epoch - 6ms/step
Epoch 40/100
35/35 - 0s - loss: 0.0189 - accuracy: 0.7558 - val_loss: 0.0169 - val_accuracy: 0.7938 - 195ms/epoch - 6ms/step
Epoch 41/100
35/35 - 0s - loss: 0.0173 - accuracy: 0.7831 - val_loss: 0.0168 - val_accuracy: 0.7938 - 195ms/epoch - 6ms/step
Epoch 42/100
35/35 - 0s - loss: 0.0170 - accuracy: 0.7957 - val_loss: 0.0193 - val_accuracy: 0.7549 - 194ms/epoch - 6ms/step
Epoch 43/100
35/35 - 0s - loss: 0.0170 - accuracy: 0.7889 - val_loss: 0.0164 - val_accuracy: 0.8171 - 200ms/epoch - 6ms/step
Epoch 44/100
35/35 - 0s - loss: 0.0162 - accuracy: 0.8054 - val_loss: 0.0154 - val_accuracy: 0.7977 - 210ms/epoch - 6ms/step
Epoch 45/100
35/35 - 0s - loss: 0.0167 - accuracy: 0.7928 - val_loss: 0.0175 - val_accuracy: 0.7899 - 190ms/epoch - 5ms/step
Epoch 46/100
35/35 - 0s - loss: 0.0172 - accuracy: 0.7860 - val_loss: 0.0156 - val_accuracy: 0.8171 - 196ms/epoch - 6ms/step
Epoch 47/100
35/35 - 0s - loss: 0.0153 - accuracy: 0.8064 - val_loss: 0.0153 - val_accuracy: 0.8249 - 194ms/epoch - 6ms/step
Epoch 48/100
35/35 - 0s - loss: 0.0149 - accuracy: 0.8171 - val_loss: 0.0182 - val_accuracy: 0.7510 - 192ms/epoch - 5ms/step
Epoch 49/100
35/35 - 0s - loss: 0.0158 - accuracy: 0.8084 - val_loss: 0.0158 - val_accuracy: 0.8210 - 192ms/epoch - 5ms/step
Epoch 50/100
35/35 - 0s - loss: 0.0163 - accuracy: 0.7996 - val_loss: 0.0165 - val_accuracy: 0.8093 - 196ms/epoch - 6ms/step
Epoch 51/100
35/35 - 0s - loss: 0.0151 - accuracy: 0.8123 - val_loss: 0.0157 - val_accuracy: 0.7899 - 190ms/epoch - 5ms/step
Epoch 52/100
35/35 - 0s - loss: 0.0166 - accuracy: 0.7918 - val_loss: 0.0154 - val_accuracy: 0.8016 - 191ms/epoch - 5ms/step
Epoch 53/100
35/35 - 0s - loss: 0.0151 - accuracy: 0.8016 - val_loss: 0.0139 - val_accuracy: 0.8405 - 198ms/epoch - 6ms/step
Epoch 54/100
35/35 - 0s - loss: 0.0148 - accuracy: 0.7996 - val_loss: 0.0151 - val_accuracy: 0.8249 - 194ms/epoch - 6ms/step
Epoch 55/100
35/35 - 0s - loss: 0.0136 - accuracy: 0.8327 - val_loss: 0.0196 - val_accuracy: 0.7315 - 195ms/epoch - 6ms/step
Epoch 56/100
35/35 - 0s - loss: 0.0140 - accuracy: 0.8200 - val_loss: 0.0146 - val_accuracy: 0.8288 - 192ms/epoch - 5ms/step
Epoch 57/100
35/35 - 0s - loss: 0.0126 - accuracy: 0.8502 - val_loss: 0.0145 - val_accuracy: 0.8171 - 189ms/epoch - 5ms/step
Epoch 58/100
35/35 - 0s - loss: 0.0118 - accuracy: 0.8482 - val_loss: 0.0126 - val_accuracy: 0.8599 - 193ms/epoch - 6ms/step
Epoch 59/100
35/35 - 0s - loss: 0.0112 - accuracy: 0.8638 - val_loss: 0.0159 - val_accuracy: 0.8016 - 306ms/epoch - 9ms/step
Epoch 60/100
35/35 - 0s - loss: 0.0127 - accuracy: 0.8405 - val_loss: 0.0183 - val_accuracy: 0.7665 - 195ms/epoch - 6ms/step
Epoch 61/100
35/35 - 0s - loss: 0.0143 - accuracy: 0.8239 - val_loss: 0.0141 - val_accuracy: 0.8366 - 201ms/epoch - 6ms/step
Epoch 62/100
35/35 - 0s - loss: 0.0135 - accuracy: 0.8337 - val_loss: 0.0167 - val_accuracy: 0.7821 - 193ms/epoch - 6ms/step
Epoch 63/100
35/35 - 0s - loss: 0.0128 - accuracy: 0.8414 - val_loss: 0.0167 - val_accuracy: 0.7821 - 196ms/epoch - 6ms/step
Epoch 64/100
35/35 - 0s - loss: 0.0117 - accuracy: 0.8570 - val_loss: 0.0154 - val_accuracy: 0.7977 - 206ms/epoch - 6ms/step
Epoch 65/100
35/35 - 0s - loss: 0.0112 - accuracy: 0.8706 - val_loss: 0.0127 - val_accuracy: 0.8521 - 194ms/epoch - 6ms/step
Epoch 66/100
35/35 - 0s - loss: 0.0130 - accuracy: 0.8337 - val_loss: 0.0163 - val_accuracy: 0.8093 - 194ms/epoch - 6ms/step
Epoch 67/100
35/35 - 0s - loss: 0.0112 - accuracy: 0.8531 - val_loss: 0.0148 - val_accuracy: 0.8210 - 196ms/epoch - 6ms/step
Epoch 68/100
35/35 - 0s - loss: 0.0134 - accuracy: 0.8259 - val_loss: 0.0156 - val_accuracy: 0.8054 - 222ms/epoch - 6ms/step

Testing the model

In [59]:
test_loss,test_accuracy = model.evaluate(Xtest, y_test_encoded)

11/11 [==============================] - 0s 4ms/step - loss: 0.0166 - accuracy: 0.8075

In [60]:
test_loss,test_accuracy

(0.016647616401314735, 0.8074533939361572)

In [ ]:
test_predictions = model.predict(Xtest)